# Git
.git
.gitignore

# Node
node_modules
npm-debug.log

# Build output
build
.svelte-kit

# Test output
tests/output

# Environment variables
.env
.env.*
!.env.example

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# macOS
.DS_Store

# Misc
.vscode
.idea
*.log
README.md
scripts
